(#{link.votes}) 
%a{:href => link.address}&= link.name
* shared by
&= link.user.username
- if user
  - if Linkvote.first(:link => link, :user => user)
    +1
    %a.vote{:href => "/unvote_link?return_to=#{u request.path}&link_id=#{u link.id}"} remove
  - else
    %a.vote{:href => "/vote_link?return_to=#{u request.path}&link_id=#{u link.id}"}
      Vote
