<form method="POST" action="<%= dest %>">
  <% object.class.properties.each do |prop| %>
    <% if prop.form_field? %>
      <div>
        <label for="<%= prop.field %>"><%= "Enter #{h prop.human_name}#{' *' if prop.required?}:" %></label>
        <input type="<%= prop.input_type %>" 
          id="<%= prop.field %>"
          name="<%= prop.field %>"
          value="<%= h data[prop.name] %>" />
        <% object.errors[prop.name].each do |errmsg| %>
          <span class="error"><%= h errmsg %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div>
    <input type="submit" value="<%= h action %>" />
  </div>
</form>
